{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="{{avatar}}"><br>
      <b>{{tag}}</b>
	  <select onchange="window.location.replace(window.location.protocol+'//'+window.location.host+'/users/{{tag}}/'+this.options[this.selectedIndex].value)">
	      {% for season in seasons %}
			<option value="{{season}}" {{thisSeason[season]}}>{{seasonNames[season]}}</option>
	      {% endfor %}
      </select>
      <br>
      
      <table border="yes" cellpadding="5" style="font-weight: bold;">
	      <tr>
			<td nowrap></td>
	      	{% for stat in stats %}
	      	  <td nowrap>{{stat.label}}</td>
	      	{% endfor %}
	      </tr>
		  <tr>
	      	<td>SWAT</td>
	      	{% for stat in stats %}
	      	  <td align=right><div id="swat{{stat.field}}">{{swat[stat.field]}}</div></td>
	      	{% endfor %}
	      </tr>
		  <tr>
	      	<td>SWATnums</td>
	      	{% for stat in stats %}
	      	  <td align=right><div id="swatnums{{stat.field}}">{{swatnums[stat.field]}}</div></td>
	      	{% endfor %}
	      </tr>
		  <tr>
	      	<td>TOTAL</td>
	      	{% for stat in stats %}
	      	  <td align=right><div id="total{{stat.field}}">{{total[stat.field]}}</div></td>
	      	{% endfor %}
	      </tr>
	</table>
    </div>
    <div class="col-md-9">
		    {% if showForm %}
		  <form action="/tweets" method="POST">
		    <label for="name_field">Name:</label>
		    <input name="name" type="text" id="name_field" value="{{name}}"/>

		    <label for="text_field">Text:</label>
		    <input name="text" type="text" id="text_field" style="width: 350px;" />

		    <input type="submit" value="Submit" />
		  </form>
		{% endif %}
      <!-- display tweets here -->
      <h2>Playah's!</h2>
      
      <div id="tweetList">
      {% for player in players %}
	
		<div class="tweetbox">
			<div>
				<img src="{{player.emblem}}">
			</div>
			<div class="content">
				<div class="by"><a href="/users/{{player.tag}}">{{player.tag}}</a></div>
				<a href="/tweets/tweet.tweetID"></a><br>
			</div>
		</div>
      {% endfor %}
      </div>
    </div>
  </div>
    
{% endblock %}