{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="{{thisPlayer.avatar}}"><br>
      <b>{{thisPlayer.tag}}</b><br>
      <!--100 followers-->
    </div>
    <div class="col-md-9">
		    {% if showForm %}
		  <form action="/tweets" method="POST">
		    <label for="name_field">Name:</label>
		    <input name="name" type="text" id="name_field" value="{{name}}"/>

		    <label for="text_field">Text:</label>
		    <input name="text" type="text" id="text_field" style="width: 350px;" />

		    <input type="submit" value="Submit" />
		  </form>
		{% endif %}
      <!-- display tweets here -->
      <h2>Playah's!</h2>
      
      <div id="tweetList">
      {% for player in players %}
	
		<div class="tweetbox">
			<div>
				<img src="{{player.emblem}}">
			</div>
			<div class="content">
				<div class="by"><a href="/users/{{player.tag}}">{{player.tag}}</a></div>
				<a href="/tweets/tweet.tweetID"></a><br>
			</div>
		</div>
      {% endfor %}
      </div>
    </div>
  </div>
    
{% endblock %}